body {
    background-color: rgb(0, 0, 0);
}

.container {
    flex-wrap: wrap;
    display: flex;
    margin-top: 40px;
}


.card {
    background-color: blueviolet;
    border-radius: 7px;
    width: 79px;
    height: 115px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 15px;
    padding: 50px;
    transition : 1s;
}

/* .timer{
    color: yellow;
    padding-left: 45%;
    padding-right: 45%;
    margin-top: 30px; */
/* } */
.back {
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 50px;
    left: 50px;
}

.start {
    background-color: yellow;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-left: 42%;
    margin-right: auto;
}

.pause {
    background-color: yellow;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-right: 1%;
    margin-left: 1%;

}

.close {
    background-color: yellow;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.input {
    background-color: rgb(0, 0, 0);
    color: black;
    border-color: black;
}

.time {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 70px;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    width: 225px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.BACK {
    color: aqua;
}

.picture {
    background-color: black;
    width: 50px;
    height: 40px;
}


.miganie {
    color: red !important;
    text-size-adjust: 90px;
    text-align: center;
    margin-top: 70px;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    width: 225px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.cardTurn {
    transform: perspective(100px) rotateY(180deg);
    background-color: aqua !important;
    transition : 1s;
}