body {
    background-color: rgb(0, 0, 0);
}
.play {
    background-color: blueviolet;
    width: 240px;
    height: 66px;
    border-radius: 8px;
    margin-left: 43.5%;
    margin-right:40%;
    margin-top: 125px;
}
.records{
    background-color: blueviolet;
    width: 240px;
    height: 66px;
    border-radius: 8px;
    margin-left: 43.5%;
    margin-right: 40%;
    margin-top: 100px;
}
.settings{
    background-color: blueviolet;
    width: 240px;
    height: 66px;
    border-radius: 8px;
    margin-left: 43.5%;
    margin-right: 40%; 
    margin-top: 120px;
    text-align: center;
  
}
.text{
    color: aliceblue;
    text-align: center;
    margin-top: 150px;
    background-color: cyan;
    border-radius: 8px;
    width: 325px;
    height: 70px;
    margin-left: 42%;
    margin-right: 41%;

}
.ssalka{
    color: blue;
}
