body{
    background-color: black;
}
.rules{
    color: darkslateblue;
    text-align: center;
    margin-top: 100px;
    background-color: cyan;
    border-radius: 8px;
    width: 325px;
    height: 70px;
    margin-left: 42%;
    margin-right: 41%;


}
.rulesText{
    background-color: aqua;
    color: darkslateblue;
    margin-top: 100px;
}
.back{
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 50px;
    left: 50px;
}
.BACK{
    color:blueviolet;
}
