body{
    background-color: black;
}
.back{
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 50px;
    left: 50px;
}
.BACK{
    color:blueviolet;
}
.music{
    margin-left: 40%;
    margin-right: 40%; 
    margin-top: 30px;
    background-color: black;
}
