.miganie{
    color: red!important;
    text-size-adjust: 90px;
    text-align: center;
    margin-top: 70px;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    width: 225px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}